[Desktop Entry]
Name=GNOME i3
Comment=GNOME with the i3 tiling window manager
Exec=/usr/bin/gnome-session-i3
TryExec=/usr/bin/gnome-session
Icon=
Type=Application
